<ul id="unicorns">
  <li>Pink</li>
</ul>

<ul id="ponies">
  <li>Violet</li>
</ul>

<div id="new_pony">
  <input type="text" name="color" value="" />
</div>

<a href="#">More ponycorns</a>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="2">Footer</td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td>John</td>
      <td>Doe</td>
    </tr>
  </tbody>
</table>
